@media only  screen and (min-width:376px) {
    body{
        background-image: url('/src/Images/bg-intro-desktop.png');


        .app{
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 4rem;

            .text{
                text-align: start;
                padding: 8rem 2rem  !important;

                h1{
                    font-size: 48px !important;
                }


                h1, p{
                    text-align: left !important;
                }

            }

                .error .icon{
                    top: -8rem;
                    // right: -40.5rem !important;
                }
        }
    }
    
}
