@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,700&family=Public+Sans:wght@300;400;700&display=swap');

$Red: hsl(0, 100%, 74%);
$Green: hsl(154, 59%, 51%);
$Blue: hsl(248, 32%, 49%);
$DarkBlue: hsl(249, 10%, 26%);
$GrayishBlue: hsl(246, 25%, 77%);

@import 'mixins';
@import 'desktop';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $Red;
    color: whitesmoke;
    font-size: 16px;
    background-image: url('/src/Images/bg-intro-mobile.png');
    background-repeat: repeat-x;

    .app{
        font-family: 'Poppins', sans-serif;
        max-width: 90%;
        margin: 0 auto;

        .text{
            line-height: 1.8;
            padding: 5rem 0 4rem 0;
            
            h1{
                font-weight: 600;
                font-size: xx-large;
                text-align: center;
                line-height: 1.2;
                margin-bottom: 1.2rem;
            }

            p{
                text-align: center;
            }
        }

        .form{
            button{
                background-color: $Blue;
                width: 100%;
                font-size: 18px;
                line-height: 1.6;
                padding: 0.6rem 0;
                margin-bottom: 2rem;
                color: whitesmoke;
                @include bordered();
                @include border-radius(13px);
                @include box-shadow;
            }
            form{
                background-color: white;
                width: 100%;
                padding: 1rem;
                text-align: center;
                @include bordered($color:white);
                @include border-radius(13px);
                @include box-shadow;
                
                .input-group{
                   width: 100%; 
                   margin-bottom: 1rem;
                   position: relative;
                   
                   input{
                       padding: 1rem;
                       @include bordered($color:$GrayishBlue);
                       @include border-radius(5px);
                       width: 100%;
                       
                       
                   }

                   input.error{
                        border: 1.5px solid $Red;
                   }

                   .error::placeholder{
                        color: transparent;
                    }

                    .icon{
                        position: relative;
                        color: $Red;
                        font-size: larger;
                        // top: -2.2rem;
                        // right: -10.5rem;
                    }

                   .errorDiv{
                        float: right;
                        color: $Red;
                        font-size: xx-small;
                        font-style: italic;
                        font-weight: 300;
                   }
                }

                button{
                    width: 100%;
                    background-color: $Green;
                    text-transform: uppercase;
                    font-weight: 500;
                    font-size: 18px;
                    @include bordered($color:$Green);
                    @include border-radius(5px);
                    box-shadow: 0px 5px 2px 0px rgba(78, 77, 77, 0.3);
                    margin-bottom: 0;

                }

                small{
                    // margin: 0 10%;
                    color: $GrayishBlue;
                    font-size: x-small;
                    

                    a{
                        color: $Red;
                    }
                }
            }
        }
        
    }
}




