@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,700&family=Public+Sans:wght@300;400;700&display=swap');


$Red: hsl(0, 100%, 74%);
$Green: hsl(154, 59%, 51%);
$Blue: hsl(248, 32%, 49%);
$DarkBlue: hsl(249, 10%, 26%);
$GrayishBlue: hsl(246, 25%, 77%);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $Red;
    color: whitesmoke;
    font-size: 16px;
    background-image: url('/src/Images/bg-intro-mobile.png');
    background-repeat: repeat-x;

    .app{
        font-family: 'Poppins', sans-serif;
        max-width: 90%;
        margin: 0 auto;

        .text{
            line-height: 1.8;
            padding: 5rem 0 4rem 0;
            
            h1{
                font-weight: 600;
                font-size: xx-large;
                text-align: center;
                line-height: 1.2;
                margin-bottom: 1.2rem;
            }

            p{
                text-align: center;
            }
        }

        .form{
            button{
                background-color: $Blue;
                width: 100%;
                padding: 2rem 0;
                margin-bottom: 2rem;
                color: whitesmoke;
            }
            form{
                background-color: white;
                width: 100%;
                padding: 1rem;
                
                .input-group{
                   width: 100%;
                   
                   
                   .input{
                       padding: 1rem;
                       border: 1px solid $GrayishBlue;
                       width: 100%;
                       
                   }
                   button{
                       width: 100%;
                       background-color: $Green;
                   }
                }
            }
        }
        
    }
}




